<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whos Cat IS THAT??!?</title>
  link(rel='stylesheet' href='/stylesheets/style.css')
</head>
<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <legend>Whos Cat is That??!?</legend>
    <input type="file" name="file">
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
  center
    p not 100% success rate pls dont be too mad if it gets things wrong
</body>
</html>

