<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whos Cat IS THAT??!?</title>
  link(rel='stylesheet' href='/stylesheets/style.css')
</head>
body
  center
    h1.bieg THATS NOT A CAT YOU FILTHY HEATHEN
    a.btn(href='cats') Click here to see my Cats
